<div *ngIf="projet">
  <div>
    <label>Name: </label> {{projet.nom}}
  </div>
  <div>
    <label>id: </label> {{projet.id}}
  </div>
  <hr/>
</div>

<!--
<div *ngIf="projet">
  <div>
    <label>Name: </label> {{projet.nom}}
  </div>
  <div>
    <label>id: </label> {{projet.id}}
  </div>
  <div *ngFor="let p of projet.profiles " style="width: 300px;">
    <div>
      <label>Name: </label> {{p.nomPro}}
    </div>
    <div>
      <label>id: </label> {{p.id}}
    </div>
  </div>
  <hr/>
</div>
-->
