<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="cv-wrap" align="center">
        <img src="assets/images/recrtmnt.png" width="100%">

        <table align="center">
          <tr>
            <td>
              <div class="box">
                <div class="row">
                  <div class="col-md-3 animated fadeIn">

                  </div>
                </div>
                <div class="col-md-3 animated fadeIn">
                  <div class="card card-block tip-card">
                    <div class="tip-msg">
                      <h3>Recruteur</h3>
                      <span> je recrute</span>
                    </div>
                    <div class="card card-block tip-card">

                      <button class="tip-ico tip-ico-primary" [routerLink]="['demande']">
                        <i class="fa fa-group fa-fw"></i>
                      </button>
                    </div>


                  </div></div></div></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <td>
              <div class="box">
                <div class="row">
                  <div class="col-md-3 animated fadeIn">

                  </div>
                </div>
                <div class="col-md-3 animated fadeIn">
                  <div class="card card-block tip-card">
                    <div class="tip-msg">
                      <h3>Candidat</h3>
                      <span>je passe le test</span>
                    </div>
                    <div class="card card-block tip-card">

                      <button class="tip-ico tip-ico-primary" [routerLink]="['quests',project_index,profil_index,niveau_index]">
                        <i class="fa fa-group fa-fw"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <!--<project-list></project-list>-->

        <style type="text/css">
          .box
          {
            width:350px;
            margin:50px auto auto auto;
            border:1px solid #dedede;
            border-radius:5px;
            padding:20px;
          }

          .center
          {
            text-align:center;
          }

          .margin-right-10
          {
            margin-right:10px;
          }
        </style>
